@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Roboto, "Google Sans", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-google-bg text-google-text dark:bg-google-bg-dark dark:text-google-text-dark transition-colors duration-200;
}